.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.greenButtonBackground {
  background-color: #00A300;
  color: #FFFFFF;
}

.greenButtonBackground:hover {
  background-color: #007300;
  color: #CCCCCC;
}

.greenButtonBackground:active {
  background-color: gray;
  border-color: gray;
}


.textInputClass {
  border-color: gray;
}

/* stops text in the text-layer from being selectable in the svg */
.text-layer {
  pointer-events: none;
}